<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta name="theme-color" content="#fff">
    <link rel="manifest" href="./manifest.json">
    <% for(var i=0; i<htmlWebpackPlugin.options.preload.length; i++) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.preload[i]].entry %>" as="script">
    <% } %>
</head>
<body>

    <section class="section">
        <div class="container">
            <h1 class="title"><%= htmlWebpackPlugin.options.title %></h1>
            <h1 class="subtitle">Microbit Python editor</h1>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div id="app"></div>
        </div>
    </section>
    
</body>
</html>